# Variables de entorno - Backend

# Supabase
SUPABASE_URL=https://oeabhlewxekejmgrucrz.supabase.co
SUPABASE_SERVICE_KEY=tu_service_key_aqui

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=tu_access_token_de_mercadopago
MERCADOPAGO_PUBLIC_KEY=tu_public_key_de_mercadopago

# PayPal
PAYPAL_CLIENT_ID=tu_client_id_de_paypal
PAYPAL_CLIENT_SECRET=tu_client_secret_de_paypal
NODE_ENV=development # Cambiar a 'production' en producción

# URLs
FRONTEND_URL=http://localhost:8081
BACKEND_URL=http://localhost:3000

# Puertos
PORT=3000
PAYPAL_PORT=3001
